{
  "openapi": "3.0.0",
  "info": {
    "title": "Systeme.io Public API",
    "description": "# Introduction\nWelcome to the comprehensive guide for the Systeme.io Public API. Our API serves as a bridge, enabling developers to interact with Systeme's core functionalities programmatically. It is meticulously designed to offer a seamless integration experience, allowing you to manage contacts, tags, and a variety of other operations integral to our platform. Adhering to RESTful conventions, our API ensures an intuitive and consistent interaction pattern for all users.\n\n# Getting Started\nTo begin utilizing the Systeme.io Public API, you must first obtain an authentication key. This key is your passcard to unlocking the API's capabilities. Simply navigate to the profile settings within your Systeme.io dashboard, and generate a new key under the \"Public API keys\" section. Once you have your key, you're all set to embark on your first API request journey!\n\n# Authentication\nTo authenticate with the Systeme.io Public API, your only option right now is to attach your API key to the `X-API-Key` header of each request.\nLet us know what authentication methods you would like to see implemented next!\n\n# Rate Limiting\n\nOur Public API implements a rate limiting system to maintain service stability and availability for all users. Here's how it works:\n\n- **Refill Rate**: Your request quota is periodically replenished. The `X-RateLimit-Refill` header indicates when the next quota refill will occur.\n- **Limit Ceiling**: There is a maximum quota limit, which is the total number of requests you can make within a given time frame. The `X-RateLimit-Limit` header shows this maximum number.\n- **Shared Quota**: The request limit is collectively applied across all your API keys and tokens. The `X-RateLimit-Remaining` header informs you of the number of requests left in your current rate limit window.\n\nIf you exceed the rate limit, you will receive a `429` Too Many Requests response status code. This indicates that you have sent too many requests in a given time frame. Along with this response, you will receive a `Retry-After` header indicating the number of seconds to wait before making a new request. We advise implementing appropriate error handling strategies in your application to manage these responses effectively.\n\n# Using the API\nOur documentation is your roadmap to the Systeme.io Public API. It details the endpoints available, their respective URLs, the expected formats for requests and responses, and outlines the basic constraints to be aware of.\n\n## Collection Pagination\n\n**Understanding Cursor-Based Pagination:**\nOur API employs a cursor-based pagination system for efficiently navigating through large collections of resources. A cursor acts as a reference point, indicating the position in the dataset from which to retrieve the next set of results.\n\n**How to Use Pagination:**\n- **Starting Point:** Use the `startingAfter` parameter to specify the ID of the last item you received. This sets the cursor for the next page of data.\n- **Control Record Count:** The `limit` parameter allows you to control the number of records returned in each request. Tailor this to suit your data handling needs.\n- **Ordering:** Specify the order of the data using the `order` parameter, with options for ascending (`asc`) or descending (`desc`) order. The default setting is descending (`desc`).\n\n**Response Structure:**\n- **Items Key:** The response will include the retrieved data under the `items` key.\n- **Has More:** A `hasMore` key is also provided, indicating whether additional pages of data are available.\n\n**Efficient Data Retrieval:**\nThis pagination method ensures efficient and manageable data retrieval, especially when dealing with large datasets. It allows for seamless navigation through your resource collections, providing a user-friendly and intuitive way to access the data you need.\n\n## Updating Resources with PATCH\n\n**Efficient Updates with Merge Patch:**\nOur API supports the `PATCH` method with `application/merge-patch+json` content type for efficiently updating resources. This method allows partial updates to a resource, modifying only specified fields without the need to resend the entire resource.\n\n**Example - Updating a Contact:**\nTo update a contact's details, you can send a `PATCH` request with a payload like the following:\n\n```json\n{\n    \"locale\": \"en\",\n    \"fields\": [\n        {\n            \"slug\": \"country\",\n            \"value\": \"US\"\n        },\n        {\n            \"slug\": \"phone_number\",\n            \"value\": null\n        }\n    ]\n}\n```\n\nIn this example:\n- The `country` field is updated to `US`.\n- The `phone_number` is set to `null`, effectively removing any previously set value.\n\n**Selective Modification:**\nThis approach is particularly useful for selectively modifying specific attributes of a resource, such as a contact, without affecting other existing data. It streamlines the update process, making it more efficient and user-friendly.\n\n## Code Examples\n\n### Creating a Tag with curl\nTo create a new tag, use the following `curl` command as a template:\n\n```bash\ncurl -X POST 'https://api.systeme.io/api/tags' \\\n-H 'Content-Type: application/json' \\\n-H 'X-API-Key: your_api_key' \\\n-d '{\"name\": \"NewTagName\"}'\n```\n\n### Retrieving Contacts with JavaScript\nTo retrieve a list of contacts, you can use the JavaScript `fetch` function as shown in the following example:\n\n```javascript\nfetch('https://api.systeme.io/api/contacts', {\n    headers: {\n        'X-API-Key': 'your_api_key'\n    }\n})\n.then(response => response.json())\n.then(data => console.log(data))\n.catch(error => console.error('Error:', error));\n```\n\nIn the subsequent sections, you'll find more detailed examples and explanations to guide you through leveraging the full potential of our API. Whether you're looking to automate processes, integrate with your existing systems, or build something entirely new, our API is designed to provide the flexibility and control you need.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.systeme.io",
      "description": "Systeme Public API"
    }
  ],
  "paths": {
    "/api/community/communities": {
      "get": {
        "operationId": "api_communitycommunities_get_collection",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Community collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "domainName": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "",
                    "deprecated": false,
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "domainName": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Retrieves the collection of Community resources.",
        "description": "Retrieves the collection of Community resources.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Text search query",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cursor-based pagination limit",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Cursor-based pagination starting after this ID",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "order",
            "in": "query",
            "description": "Cursor-based pagination initial ordering",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/api/community/communities/{communityId}/memberships": {
      "post": {
        "operationId": "api_communitycommunities_communityIdmemberships_post",
        "tags": [
          "Community"
        ],
        "responses": {
          "202": {
            "description": "Membership resource created",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/html": {
                "schema": {}
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Unprocessable entity"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Creates a Membership resource.",
        "description": "Creates a Membership resource.",
        "parameters": [
          {
            "name": "communityId",
            "in": "path",
            "description": "Community identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "requestBody": {
          "description": "The new Membership resource",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "required": [
                  "contactId"
                ],
                "properties": {
                  "contactId": {
                    "type": "integer"
                  }
                }
              }
            },
            "text/html": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "required": [
                  "contactId"
                ],
                "properties": {
                  "contactId": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "required": true
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api/community/memberships": {
      "get": {
        "operationId": "api_communitymemberships_get_collection",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Membership collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "community": {
                            "type": "object",
                            "description": "",
                            "deprecated": false,
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "domainName": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              }
                            }
                          },
                          "contact": {
                            "type": "object",
                            "description": "",
                            "deprecated": false,
                            "properties": {
                              "id": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "",
                    "deprecated": false,
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "community": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "domainName": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          }
                        }
                      },
                      "contact": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Retrieves the collection of Membership resources.",
        "description": "Retrieves the collection of Membership resources.",
        "parameters": [
          {
            "name": "community",
            "in": "query",
            "description": "Filter by community",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "contact",
            "in": "query",
            "description": "Filter by contact",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cursor-based pagination limit",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Cursor-based pagination starting after this ID",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "order",
            "in": "query",
            "description": "Cursor-based pagination initial ordering",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/api/community/memberships/{id}": {
      "delete": {
        "operationId": "api_communitymemberships_id_delete",
        "tags": [
          "Community"
        ],
        "responses": {
          "204": {
            "description": "Membership resource deleted"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Removes the Membership resource.",
        "description": "Removes the Membership resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Membership identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/api/contact_fields": {
      "get": {
        "operationId": "api_contact_fields_get_collection",
        "tags": [
          "ContactField"
        ],
        "responses": {
          "200": {
            "description": "ContactField collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "fieldName": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "",
                    "deprecated": false,
                    "properties": {
                      "slug": {
                        "type": "string"
                      },
                      "fieldName": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Retrieves the collection of ContactField resources.",
        "description": "Retrieves the collection of ContactField resources.",
        "parameters": [],
        "deprecated": false
      },
      "post": {
        "operationId": "api_contact_fields_post",
        "tags": [
          "ContactField"
        ],
        "responses": {
          "201": {
            "description": "ContactField resource created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "fieldName": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "fieldName": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Unprocessable entity"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Creates a ContactField resource.",
        "description": "Creates a ContactField resource.",
        "parameters": [],
        "requestBody": {
          "description": "The new ContactField resource",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "required": [
                  "fieldName",
                  "slug"
                ],
                "properties": {
                  "fieldName": {
                    "maxLength": 255,
                    "type": "string"
                  },
                  "slug": {
                    "pattern": "^(\\w+)$",
                    "type": "string"
                  }
                }
              }
            },
            "text/html": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "required": [
                  "fieldName",
                  "slug"
                ],
                "properties": {
                  "fieldName": {
                    "maxLength": 255,
                    "type": "string"
                  },
                  "slug": {
                    "pattern": "^(\\w+)$",
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api/contact_fields/{slug}": {
      "delete": {
        "operationId": "api_contact_fields_slug_delete",
        "tags": [
          "ContactField"
        ],
        "responses": {
          "204": {
            "description": "ContactField resource deleted"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Removes the ContactField resource.",
        "description": "Removes the ContactField resource.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "ContactField identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "patch": {
        "operationId": "api_contact_fields_slug_patch",
        "tags": [
          "ContactField"
        ],
        "responses": {
          "200": {
            "description": "ContactField resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "fieldName": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "fieldName": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Unprocessable entity"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Updates the ContactField resource.",
        "description": "Updates the ContactField resource.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "ContactField identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "requestBody": {
          "description": "The updated ContactField resource",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "required": [
                  "fieldName"
                ],
                "properties": {
                  "fieldName": {
                    "maxLength": 255,
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api/contacts": {
      "get": {
        "operationId": "api_contacts_get_collection",
        "tags": [
          "Contact"
        ],
        "responses": {
          "200": {
            "description": "Contact collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "email": {
                            "type": "string"
                          },
                          "registeredAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "locale": {
                            "enum": [
                              "en",
                              "fr",
                              "es",
                              "it",
                              "pt",
                              "de",
                              "nl",
                              "ru",
                              "jp",
                              "tr",
                              "ar",
                              "zh",
                              "sv",
                              "ro",
                              "cs",
                              "hu",
                              "sk",
                              "dk",
                              "id",
                              "pl",
                              "el",
                              "sr",
                              "hi",
                              "no",
                              "th",
                              "sq",
                              "sl",
                              "ua"
                            ],
                            "type": "string"
                          },
                          "sourceURL": {
                            "type": "string",
                            "nullable": true
                          },
                          "unsubscribed": {
                            "type": "boolean"
                          },
                          "bounced": {
                            "type": "boolean"
                          },
                          "needsConfirmation": {
                            "type": "boolean"
                          },
                          "fields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "description": "",
                              "deprecated": false,
                              "properties": {
                                "fieldName": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "description": "",
                              "deprecated": false,
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "",
                    "deprecated": false,
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "email": {
                        "type": "string"
                      },
                      "registeredAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "locale": {
                        "enum": [
                          "en",
                          "fr",
                          "es",
                          "it",
                          "pt",
                          "de",
                          "nl",
                          "ru",
                          "jp",
                          "tr",
                          "ar",
                          "zh",
                          "sv",
                          "ro",
                          "cs",
                          "hu",
                          "sk",
                          "dk",
                          "id",
                          "pl",
                          "el",
                          "sr",
                          "hi",
                          "no",
                          "th",
                          "sq",
                          "sl",
                          "ua"
                        ],
                        "type": "string"
                      },
                      "sourceURL": {
                        "type": "string",
                        "nullable": true
                      },
                      "unsubscribed": {
                        "type": "boolean"
                      },
                      "bounced": {
                        "type": "boolean"
                      },
                      "needsConfirmation": {
                        "type": "boolean"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "",
                          "deprecated": false,
                          "properties": {
                            "fieldName": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "",
                          "deprecated": false,
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Retrieves the collection of Contact resources.",
        "description": "Retrieves the collection of Contact resources.",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter by exact email.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tag IDs separated by commas (returns contacts containing all specified tags).",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "example": "1,2,3"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "bounced",
            "in": "query",
            "description": "Filter by contact bounced state",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "unsubscribed",
            "in": "query",
            "description": "Filter by contact unsubscribed state",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "needsConfirmation",
            "in": "query",
            "description": "Filter by contact needs confirmation state",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "registeredBefore",
            "in": "query",
            "description": "Filter by registered before a specified date.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-11-22T00:00:00+00:00"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "registeredAfter",
            "in": "query",
            "description": "Filter by registered after a specified date.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2023-11-22T23:59:59+00:00"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cursor-based pagination limit",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Cursor-based pagination starting after this ID",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "order",
            "in": "query",
            "description": "Cursor-based pagination initial ordering",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "post": {
        "operationId": "post_contact",
        "tags": [
          "Contact"
        ],
        "responses": {
          "201": {
            "description": "Contact resource created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "registeredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "locale": {
                      "enum": [
                        "en",
                        "fr",
                        "es",
                        "it",
                        "pt",
                        "de",
                        "nl",
                        "ru",
                        "jp",
                        "tr",
                        "ar",
                        "zh",
                        "sv",
                        "ro",
                        "cs",
                        "hu",
                        "sk",
                        "dk",
                        "id",
                        "pl",
                        "el",
                        "sr",
                        "hi",
                        "no",
                        "th",
                        "sq",
                        "sl",
                        "ua"
                      ],
                      "type": "string"
                    },
                    "sourceURL": {
                      "type": "string",
                      "nullable": true
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "needsConfirmation": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "fieldName": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "registeredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "locale": {
                      "enum": [
                        "en",
                        "fr",
                        "es",
                        "it",
                        "pt",
                        "de",
                        "nl",
                        "ru",
                        "jp",
                        "tr",
                        "ar",
                        "zh",
                        "sv",
                        "ro",
                        "cs",
                        "hu",
                        "sk",
                        "dk",
                        "id",
                        "pl",
                        "el",
                        "sr",
                        "hi",
                        "no",
                        "th",
                        "sq",
                        "sl",
                        "ua"
                      ],
                      "type": "string"
                    },
                    "sourceURL": {
                      "type": "string",
                      "nullable": true
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "needsConfirmation": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "fieldName": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://tools.ietf.org/html/rfc2616#section-10"
                    },
                    "title": {
                      "type": "string",
                      "example": "An error occurred"
                    },
                    "detail": {
                      "type": "string",
                      "example": "name: This value is too long. It should have 32 characters or less."
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "propertyPath": {
                            "type": "string",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "example": "This value is too long. It should have 32 characters or less."
                          },
                          "code": {
                            "type": "string",
                            "example": "d94b19cc-114f-4f44-9cc4-4138e80a87b9"
                          }
                        },
                        "required": [
                          "propertyPath",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "detail",
                    "violations"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Creates a Contact resource.",
        "description": "Contacts are not immediately removed upon deletion. For security reasons, the actual deletion of contact data may take several days. If you add a new contact using the same email address as a recently deleted one, the new contact might inherit certain properties from the previously deleted contact.",
        "parameters": [],
        "requestBody": {
          "description": "The new Contact resource",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "locale": {
                    "enum": [
                      "en",
                      "fr",
                      "es",
                      "it",
                      "pt",
                      "de",
                      "nl",
                      "ru",
                      "jp",
                      "tr",
                      "ar",
                      "zh",
                      "sv",
                      "ro",
                      "cs",
                      "hu",
                      "sk",
                      "dk",
                      "id",
                      "pl",
                      "el",
                      "sr",
                      "hi",
                      "no",
                      "th",
                      "sq",
                      "sl",
                      "ua"
                    ],
                    "type": "string",
                    "nullable": true
                  },
                  "fields": {
                    "description": "For `country` field: field accepts 2-letter [ISO 3166](https://en.wikipedia.org/wiki/ISO_3166-1) country codes.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "",
                      "deprecated": false,
                      "properties": {
                        "slug": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "text/html": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "locale": {
                    "enum": [
                      "en",
                      "fr",
                      "es",
                      "it",
                      "pt",
                      "de",
                      "nl",
                      "ru",
                      "jp",
                      "tr",
                      "ar",
                      "zh",
                      "sv",
                      "ro",
                      "cs",
                      "hu",
                      "sk",
                      "dk",
                      "id",
                      "pl",
                      "el",
                      "sr",
                      "hi",
                      "no",
                      "th",
                      "sq",
                      "sl",
                      "ua"
                    ],
                    "type": "string",
                    "nullable": true
                  },
                  "fields": {
                    "description": "For `country` field: field accepts 2-letter [ISO 3166](https://en.wikipedia.org/wiki/ISO_3166-1) country codes.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "",
                      "deprecated": false,
                      "properties": {
                        "slug": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api/contacts/{id}": {
      "get": {
        "operationId": "api_contacts_id_get",
        "tags": [
          "Contact"
        ],
        "responses": {
          "200": {
            "description": "Contact resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "registeredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "locale": {
                      "enum": [
                        "en",
                        "fr",
                        "es",
                        "it",
                        "pt",
                        "de",
                        "nl",
                        "ru",
                        "jp",
                        "tr",
                        "ar",
                        "zh",
                        "sv",
                        "ro",
                        "cs",
                        "hu",
                        "sk",
                        "dk",
                        "id",
                        "pl",
                        "el",
                        "sr",
                        "hi",
                        "no",
                        "th",
                        "sq",
                        "sl",
                        "ua"
                      ],
                      "type": "string"
                    },
                    "sourceURL": {
                      "type": "string",
                      "nullable": true
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "needsConfirmation": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "fieldName": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "registeredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "locale": {
                      "enum": [
                        "en",
                        "fr",
                        "es",
                        "it",
                        "pt",
                        "de",
                        "nl",
                        "ru",
                        "jp",
                        "tr",
                        "ar",
                        "zh",
                        "sv",
                        "ro",
                        "cs",
                        "hu",
                        "sk",
                        "dk",
                        "id",
                        "pl",
                        "el",
                        "sr",
                        "hi",
                        "no",
                        "th",
                        "sq",
                        "sl",
                        "ua"
                      ],
                      "type": "string"
                    },
                    "sourceURL": {
                      "type": "string",
                      "nullable": true
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "needsConfirmation": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "fieldName": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Retrieves a Contact resource.",
        "description": "Retrieves a Contact resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "delete": {
        "operationId": "delete_contact",
        "tags": [
          "Contact"
        ],
        "responses": {
          "204": {
            "description": "Contact resource deleted"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Removes the Contact resource.",
        "description": "Removes the Contact resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "patch": {
        "operationId": "api_contacts_id_patch",
        "tags": [
          "Contact"
        ],
        "responses": {
          "200": {
            "description": "Contact resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "registeredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "locale": {
                      "enum": [
                        "en",
                        "fr",
                        "es",
                        "it",
                        "pt",
                        "de",
                        "nl",
                        "ru",
                        "jp",
                        "tr",
                        "ar",
                        "zh",
                        "sv",
                        "ro",
                        "cs",
                        "hu",
                        "sk",
                        "dk",
                        "id",
                        "pl",
                        "el",
                        "sr",
                        "hi",
                        "no",
                        "th",
                        "sq",
                        "sl",
                        "ua"
                      ],
                      "type": "string"
                    },
                    "sourceURL": {
                      "type": "string",
                      "nullable": true
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "needsConfirmation": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "fieldName": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "deprecated": false,
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    },
                    "registeredAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "locale": {
                      "enum": [
                        "en",
                        "fr",
                        "es",
                        "it",
                        "pt",
                        "de",
                        "nl",
                        "ru",
                        "jp",
                        "tr",
                        "ar",
                        "zh",
                        "sv",
                        "ro",
                        "cs",
                        "hu",
                        "sk",
                        "dk",
                        "id",
                        "pl",
                        "el",
                        "sr",
                        "hi",
                        "no",
                        "th",
                        "sq",
                        "sl",
                        "ua"
                      ],
                      "type": "string"
                    },
                    "sourceURL": {
                      "type": "string",
                      "nullable": true
                    },
                    "unsubscribed": {
                      "type": "boolean"
                    },
                    "bounced": {
                      "type": "boolean"
                    },
                    "needsConfirmation": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "fieldName": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "links": {}
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://tools.ietf.org/html/rfc2616#section-10"
                    },
                    "title": {
                      "type": "string",
                      "example": "An error occurred"
                    },
                    "detail": {
                      "type": "string",
                      "example": "name: This value is too long. It should have 32 characters or less."
                    },
                    "violations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "propertyPath": {
                            "type": "string",
                            "example": "name"
                          },
                          "message": {
                            "type": "string",
                            "example": "This value is too long. It should have 32 characters or less."
                          },
                          "code": {
                            "type": "string",
                            "example": "d94b19cc-114f-4f44-9cc4-4138e80a87b9"
                          }
                        },
                        "required": [
                          "propertyPath",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "title",
                    "detail",
                    "violations"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Updates the Contact resource.",
        "description": "Updates the Contact resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "requestBody": {
          "description": "The updated Contact resource",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "properties": {
                  "locale": {
                    "enum": [
                      "en",
                      "fr",
                      "es",
                      "it",
                      "pt",
                      "de",
                      "nl",
                      "ru",
                      "jp",
                      "tr",
                      "ar",
                      "zh",
                      "sv",
                      "ro",
                      "cs",
                      "hu",
                      "sk",
                      "dk",
                      "id",
                      "pl",
                      "el",
                      "sr",
                      "hi",
                      "no",
                      "th",
                      "sq",
                      "sl",
                      "ua"
                    ],
                    "type": "string",
                    "nullable": true
                  },
                  "fields": {
                    "description": "For `country` field: field accepts 2-letter [ISO 3166](https://en.wikipedia.org/wiki/ISO_3166-1) country codes.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "",
                      "deprecated": false,
                      "properties": {
                        "slug": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api/contacts/{id}/tags": {
      "post": {
        "operationId": "post_contact_tag",
        "tags": [
          "Contact"
        ],
        "responses": {
          "204": {
            "description": "Tag assigned"
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Unprocessable entity"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Assigns a Tag to a Contact.",
        "description": "Assigns a Tag to a Contact.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "requestBody": {
          "description": "Tag assignment data",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tagId": {
                    "type": "integer",
                    "description": "The ID of the tag to assign to the contact"
                  }
                },
                "required": [
                  "tagId"
                ]
              }
            }
          },
          "required": false
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api/contacts/{id}/tags/{tagId}": {
      "delete": {
        "operationId": "delete_contact_tag",
        "tags": [
          "Contact"
        ],
        "responses": {
          "204": {
            "description": "Tag unassigned"
          },
          "404": {
            "description": "Resource not found"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Removes a Tag from a Contact.",
        "description": "Removes a Tag from a Contact.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Contact identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "Tag identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/api/payment/subscriptions": {
      "get": {
        "operationId": "api_paymentsubscriptions_get_collection",
        "tags": [
          "Subscription"
        ],
        "responses": {
          "200": {
            "description": "Subscription collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "cancelled",
                              "completed",
                              "in_charge",
                              "incomplete",
                              "incomplete_expired"
                            ]
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "cancelledAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "pricePlan": {
                            "anyOf": [
                              {
                                "type": "object",
                                "description": "",
                                "deprecated": false,
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "innerName": {
                                    "type": "string"
                                  },
                                  "statementDescriptor": {
                                    "type": "string"
                                  },
                                  "amount": {
                                    "type": "integer"
                                  },
                                  "currency": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "recurringOptions": {
                                    "anyOf": [
                                      {
                                        "type": "object",
                                        "description": "",
                                        "deprecated": false,
                                        "properties": {
                                          "id": {
                                            "type": "integer"
                                          },
                                          "trialPeriod": {
                                            "type": "integer"
                                          },
                                          "trialInterval": {
                                            "type": "string"
                                          },
                                          "interval": {
                                            "type": "string"
                                          },
                                          "intervalCount": {
                                            "type": "integer"
                                          },
                                          "limitOfPayments": {
                                            "type": "integer",
                                            "nullable": true
                                          }
                                        }
                                      }
                                    ],
                                    "nullable": true
                                  }
                                }
                              }
                            ],
                            "nullable": true
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "",
                    "deprecated": false,
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "cancelled",
                          "completed",
                          "in_charge",
                          "incomplete",
                          "incomplete_expired"
                        ]
                      },
                      "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "cancelledAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "pricePlan": {
                        "anyOf": [
                          {
                            "type": "object",
                            "description": "",
                            "deprecated": false,
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "innerName": {
                                "type": "string"
                              },
                              "statementDescriptor": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "integer"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "recurringOptions": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "description": "",
                                    "deprecated": false,
                                    "properties": {
                                      "id": {
                                        "type": "integer"
                                      },
                                      "trialPeriod": {
                                        "type": "integer"
                                      },
                                      "trialInterval": {
                                        "type": "string"
                                      },
                                      "interval": {
                                        "type": "string"
                                      },
                                      "intervalCount": {
                                        "type": "integer"
                                      },
                                      "limitOfPayments": {
                                        "type": "integer",
                                        "nullable": true
                                      }
                                    }
                                  }
                                ],
                                "nullable": true
                              }
                            }
                          }
                        ],
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Retrieves the collection of Subscription resources.",
        "description": "Retrieves the collection of Subscription resources.",
        "parameters": [
          {
            "name": "contact",
            "in": "query",
            "description": "",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cursor-based pagination limit",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Cursor-based pagination starting after this ID",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "order",
            "in": "query",
            "description": "Cursor-based pagination initial ordering",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false,
        "x-tag": [
          "Payment"
        ]
      },
      "parameters": []
    },
    "/api/payment/subscriptions/{id}/cancel": {
      "post": {
        "operationId": "cancel_subscription",
        "tags": [
          "Subscription"
        ],
        "responses": {
          "204": {
            "description": "Subscription canceled"
          },
          "400": {
            "description": "Invalid input"
          },
          "422": {
            "description": "Unprocessable entity"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Unsubscribe.",
        "description": "Cancels the subscription either immediately or at the end of the billing cycle,depending on the specified “cancel” parameter in the request body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Subscription identifier",
            "required": true,
            "deprecated": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            },
            "style": "simple",
            "explode": false,
            "allowReserved": false
          }
        ],
        "requestBody": {
          "description": "The new Subscription resource",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "required": [
                  "cancel"
                ],
                "properties": {
                  "cancel": {
                    "enum": [
                      "Now",
                      "WhenBillingPeriodEnds"
                    ],
                    "type": "string"
                  }
                }
              }
            },
            "text/html": {
              "schema": {
                "type": "object",
                "description": "",
                "deprecated": false,
                "required": [
                  "cancel"
                ],
                "properties": {
                  "cancel": {
                    "enum": [
                      "Now",
                      "WhenBillingPeriodEnds"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/api/school/courses": {
      "get": {
        "operationId": "api_schoolcourses_get_collection",
        "tags": [
          "School"
        ],
        "responses": {
          "200": {
            "description": "Course collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "",
                        "deprecated": false,
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "domainName": {
                            "type": "string",
                            "nullable": true
                          },
                          "path": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "modules": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "description": "",
                              "deprecated": false,
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "nullable": true
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "",
                    "deprecated": false,
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "locale": {
                        "type": "string"
                      },
                      "domainName": {
                        "type": "string",
                        "nullable": true
                      },
                      "path": {
                        "type": "string"
                      },
                      "active": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "modules": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "",
                          "deprecated": false,
                          "properties": {
                            "id": {
                              "type": "integer",
                              "nullable": true
                            },
                            "name": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "summary": "Retrieves the collection of Course resources.",
        "description": "Retrieves the collection of Course resources.",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active state",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filter by course, lecture or module name",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cursor-based pagination limit",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "Cursor-based pagination starting after this ID",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          },
          {
            "name": "order",
            "in": "query",
            "description": "Cursor-based pagination initial ordering",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "style": "form",
            "explode": false,
            "allowReserved": false
          }
        ],
        "deprecated": false
      },
      "parameters": []
    },
    "/api/school/courses/{courseId}/enrollments": {
      "post": {
        "operationId": "api_schoolcourses_courseIdenrollments_post",
        "tags": [
          "School"
        ],
        "responses": {
          "201": {
[...]
